* {
    margin: 0;
    padding: 0;
}


/* primary-button */

.primary-button {
    padding: 10px 30px;
    color: #FFF;
    background-color: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}


/* header section start */

.banner-containar {
    background-color: #E554731A;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.banner-text {
    width: 500px;
}

.banner-titel {
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-info {
    width: 450px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-image-position {
    width: 450px;
    height: 500px;
    margin-top: 50px;
}


/* banner section end */


/* caption setion start */

.caption-flower {
    text-align: center;
    margin-top: 40px;
}

.caption-titel {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}

.caption-details {
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: auto;
}


/* caption section end */

.flower-containar {
    margin: 70px 240px;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: center;
}

.flower-card {
    width: 464px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    text-align: center;
}

.flower-card-image {
    width: 220px;
    height: 308px;
    padding: 30px 30px 0px 30px;
    background-color: #A7216226;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-bottom: 10px;
}

.flower-card-image-2 {
    background-color: #0597A026;
}

.flower-card-image-3 {
    background-color: #477D1126;
}


/* flower card end */


/* service section start */

.service-containar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 240px;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: rgba(39, 39, 39, 0.05);
}

.service-box {
    text-align: center;
    padding: 20px 30px;
}

.service-icon {
    width: 88px;
    height: 88px;
    margin-bottom: 10px;
}


/* service section end */


/* hot deal start */

.hot-deal {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.hot-deal-text {
    width: 530px;
    text-align: center;
}

.hot-deal-titel {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.hot-deal-titel-color {
    color: #E55473;
}

.hot-deal-info {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.hot-deal-image {
    width: 318px;
    height: 420px;
    padding: 100px 0;
}


/* hot deal end */


/* instagram section start */

.instagram {
    width: 500px;
    text-align: center;
    padding: 50px 0;
    margin: auto;
}

.tnstagram-titel {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 10px;
}

.instagram-info {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}


/* instagram section end */


/* flower box section start */

.flower-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 240px;
}

.flower-box-image-position {
    width: 208px;
    height: 250px;
}


/* flower box section end */


/* subscribe section start  */

.Subscribe-containar {
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: center;
    background-image: url("./image/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 244px;
}

.Subscribe-box-titel {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
}

.Subscribe-box-titel-mini {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.email {
    width: 350px;
    height: 40px;
    border: 0;
    border-radius: 5px;
}

.subscribe-button {
    padding: 8px 10px;
    margin-left: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
}

.footer-containar {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-box {
    width: 400px;
    text-align: center;
    color: white;
}

.footer-titel {
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
}

.footer-info {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}


/* subscribe section end */